In [19]:
import itertools
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [20]:
df=pd.read_csv("irisdata.csv")
df.head()

   slength  swidth  plength  pwidth  class_label
0      5.1     3.5      1.4     0.2  Iris-setosa
1      4.9     3.0      1.4     0.2  Iris-setosa
2      4.7     3.2      1.3     0.2  Iris-setosa
3      4.6     3.1      1.5     0.2  Iris-setosa
4      5.0     3.6      1.4     0.2  Iris-setosa

In [21]:
df.columns

Index(['slength', 'swidth', 'plength', 'pwidth', 'class_label'], dtype='object')

In [22]:
X=df[['slength', 'swidth', 'plength', 'pwidth']]
X[0:5]

   slength  swidth  plength  pwidth
0      5.1     3.5      1.4     0.2
1      4.9     3.0      1.4     0.2
2      4.7     3.2      1.3     0.2
3      4.6     3.1      1.5     0.2
4      5.0     3.6      1.4     0.2

In [23]:
y=df[['class_label']]

In [24]:
X=preprocessing.StandardScaler().fit(X).transform(X.astype(float))
X[0:5]

array([[-0.90068117,  1.03205722, -1.3412724 , -1.31297673],
       [-1.14301691, -0.1249576 , -1.3412724 , -1.31297673],
       [-1.38535265,  0.33784833, -1.39813811, -1.31297673],
       [-1.50652052,  0.10644536, -1.2844067 , -1.31297673],
       [-1.02184904,  1.26346019, -1.3412724 , -1.31297673]])

In [25]:
#splitting
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)
print('Train set:',X_train.shape,y_train.shape)
print('Test set:',X_test.shape,y_test.shape)

Train set: (120, 4) (120, 1)
Test set: (30, 4) (30, 1)

In [26]:
from sklearn.neighbors import KNeighborsClassifier

In [27]:
k=5
neigh=KNeighborsClassifier(n_neighbors=k).fit(X_train,y_train)
neigh

C:\Users\Prerana\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [28]:
yhat=neigh.predict(X_test)

In [29]:
#evaluation
from sklearn import metrics
print("Train set acc: ",metrics.accuracy_score(y_train,neigh.predict(X_train)))
print("Test set acc: ",metrics.accuracy_score(y_test,yhat))

Train set acc:  0.9666666666666667
Test set acc:  0.9333333333333333

In [30]:
Ks = 99
mean_acc = np.zeros((Ks-1))
ConfustionMx = [];
for n in range(1,Ks):
    
    #Train Model and Predict  
    neigh2 = KNeighborsClassifier(n_neighbors = n).fit(X_train,y_train)
    yhat2=neigh.predict(X_test)
    mean_acc[n-1] = metrics.accuracy_score(y_test, yhat2)

C:\Users\Prerana\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys

In [31]:
mean_acc

array([0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
       0.93333333, 0.93333333, 0.93333333])

In [18]:
#same accuracy of 0.933333 from k=1 to 99